In [31]:
import torch
import torch.nn as nn
import torch.optim as optim
import pandas as pd
import numpy as np

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [45]:
class NeuralNetwork(nn.Module):
    def __init__ (self,input_size,hidden_size,num_classes):
        super(NeuralNetwork,self).__init__()
        self.l1 = nn.Linear(input_size,hidden_size)
        self.tanh1 = nn.Tanh()
        self.sig1 = nn.Sigmoid()
        self.relu1 = nn.ReLU()
        self.sig2 = nn.Sigmoid()
        self.relu2 = nn.ReLU6()
        self.l2 = nn.Linear(hidden_size,num_classes)
    def forward(self,x):
        x = self.l1(x)
        x = self.tanh1(x)
        x = self.sig1(x)
        x = self.relu1(x)
        x = self.sig2(x)
        x = self.relu2(x)
        x = self
        return x

In [10]:
df = pd.read_csv('/Users/hari/Downloads/Maternal Health Risk Data Set.csv.xls')
df

      Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0      25         130           80  15.0      98.0         86  high risk
1      35         140           90  13.0      98.0         70  high risk
2      29          90           70   8.0     100.0         80  high risk
3      30         140           85   7.0      98.0         70  high risk
4      35         120           60   6.1      98.0         76   low risk
...   ...         ...          ...   ...       ...        ...        ...
1009   22         120           60  15.0      98.0         80  high risk
1010   55         120           90  18.0      98.0         60  high risk
1011   35          85           60  19.0      98.0         86  high risk
1012   43         120           90  18.0      98.0         70  high risk
1013   32         120           65   6.0     101.0         76   mid risk

[1014 rows x 7 columns]

In [11]:
risk_level_map = {'high risk':2,'mid risk':1,'low risk':0}
df['RiskLevel'] = df['RiskLevel'].map(risk_level_map)

In [12]:
df

      Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0      25         130           80  15.0      98.0         86          2
1      35         140           90  13.0      98.0         70          2
2      29          90           70   8.0     100.0         80          2
3      30         140           85   7.0      98.0         70          2
4      35         120           60   6.1      98.0         76          0
...   ...         ...          ...   ...       ...        ...        ...
1009   22         120           60  15.0      98.0         80          2
1010   55         120           90  18.0      98.0         60          2
1011   35          85           60  19.0      98.0         86          2
1012   43         120           90  18.0      98.0         70          2
1013   32         120           65   6.0     101.0         76          1

[1014 rows x 7 columns]

In [13]:
train_data , test_data = train_test_split(df,random_state=42,shuffle=True,test_size=0.3)

In [14]:
train_data

     Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
177   54         140          100  15.0      98.0         66          2
467   50         140           90  15.0      98.0         90          2
507   18         120           80   7.9     102.0         76          1
486   38         135           60   7.9     101.0         86          2
328   35          90           70   6.9      98.0         70          0
..   ...         ...          ...   ...       ...        ...        ...
106   50         140           90  15.0      98.0         90          2
270   22         120           90   7.0      98.0         82          0
860   17          90           63   6.9     101.0         70          1
435   65         130           80  15.0      98.0         86          2
102   48         140           90  15.0      98.0         90          2

[709 rows x 7 columns]

In [15]:
test_data

      Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
752    29         130           70   7.7      98.0         78          1
519    30         140          100  15.0      98.0         70          2
210    50         140           95  17.0      98.0         60          2
611    23         120           90   7.5      98.0         60          0
914    17         120           80   7.5     102.0         76          0
...   ...         ...          ...   ...       ...        ...        ...
1003   50         130          100  16.0      98.0         76          2
227    29         120           75   7.2     100.0         70          2
868    50         140           80   6.7      98.0         70          1
584    32         140           90  18.0      98.0         88          2
808    23         120           90   7.9      98.0         70          1

[305 rows x 7 columns]

In [58]:
X_train = train_data.drop(columns=['RiskLevel'])
y_train = train_data['RiskLevel']

In [59]:
X_test = test_data.drop(columns=['RiskLevel'])
y_test = test_data['RiskLevel']

In [60]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [61]:
X_train = torch.tensor(X_train,dtype=torch.float32)
X_test = torch.tensor(X_test,dtype=torch.float32)

In [62]:
y_train = torch.tensor(np.array(y_train),dtype=torch.long)
y_test = torch.tensor(np.array(y_test),dtype=torch.long)

In [63]:
input_size = X.shape[1]
hidden_size = 32
num_classes = len(np.unique(y_train))

In [71]:
model = NeuralNetwork(input_size,hidden_size,num_classes)
optimizer = optim.AdamW(model.parameters(),lr=0.01)
criterion = nn.CrossEntropyLoss()

In [72]:
num_epochs = 2000
for epoch in range (num_epochs):
    optimizer.zero_grad()
    outputs = model(X_train)
    loss = criterion(outputs,y_train)
    loss.backward()
    optimizer.step()
    
    if (epoch + 1) % 10 == 0:
        print(f"Epoch [{epoch+1}/{num_epochs}], Loss: {loss.item():.4f}")

Epoch [10/2000], Loss: 0.9878
Epoch [20/2000], Loss: 0.8990
Epoch [30/2000], Loss: 0.8332
Epoch [40/2000], Loss: 0.7956
Epoch [50/2000], Loss: 0.7734
Epoch [60/2000], Loss: 0.7593
Epoch [70/2000], Loss: 0.7488
Epoch [80/2000], Loss: 0.7401
Epoch [90/2000], Loss: 0.7324
Epoch [100/2000], Loss: 0.7252
Epoch [110/2000], Loss: 0.7176
Epoch [120/2000], Loss: 0.7094
Epoch [130/2000], Loss: 0.7004
Epoch [140/2000], Loss: 0.6905
Epoch [150/2000], Loss: 0.6801
Epoch [160/2000], Loss: 0.6702
Epoch [170/2000], Loss: 0.6612
Epoch [180/2000], Loss: 0.6528
Epoch [190/2000], Loss: 0.6448
Epoch [200/2000], Loss: 0.6372
Epoch [210/2000], Loss: 0.6300
Epoch [220/2000], Loss: 0.6232
Epoch [230/2000], Loss: 0.6166
Epoch [240/2000], Loss: 0.6102
Epoch [250/2000], Loss: 0.6039
Epoch [260/2000], Loss: 0.5976
Epoch [270/2000], Loss: 0.5914
Epoch [280/2000], Loss: 0.5853
Epoch [290/2000], Loss: 0.5792
Epoch [300/2000], Loss: 0.5733
Epoch [310/2000], Loss: 0.5677
Epoch [320/2000], Loss: 0.5622
Epoch [330/2000], Loss: 0.5567
Epoch [340/2000], Loss: 0.5514
Epoch [350/2000], Loss: 0.5460
Epoch [360/2000], Loss: 0.5407
Epoch [370/2000], Loss: 0.5354
Epoch [380/2000], Loss: 0.5302
Epoch [390/2000], Loss: 0.5250
Epoch [400/2000], Loss: 0.5197
Epoch [410/2000], Loss: 0.5145
Epoch [420/2000], Loss: 0.5091
Epoch [430/2000], Loss: 0.5038
Epoch [440/2000], Loss: 0.4982
Epoch [450/2000], Loss: 0.4927
Epoch [460/2000], Loss: 0.4875
Epoch [470/2000], Loss: 0.4826
Epoch [480/2000], Loss: 0.4777
Epoch [490/2000], Loss: 0.4728
Epoch [500/2000], Loss: 0.4681
Epoch [510/2000], Loss: 0.4635
Epoch [520/2000], Loss: 0.4590
Epoch [530/2000], Loss: 0.4546
Epoch [540/2000], Loss: 0.4503
Epoch [550/2000], Loss: 0.4461
Epoch [560/2000], Loss: 0.4421
Epoch [570/2000], Loss: 0.4380
Epoch [580/2000], Loss: 0.4340
Epoch [590/2000], Loss: 0.4300
Epoch [600/2000], Loss: 0.4262
Epoch [610/2000], Loss: 0.4225
Epoch [620/2000], Loss: 0.4189
Epoch [630/2000], Loss: 0.4154
Epoch [640/2000], Loss: 0.4119
Epoch [650/2000], Loss: 0.4084
Epoch [660/2000], Loss: 0.4051
Epoch [670/2000], Loss: 0.4020
Epoch [680/2000], Loss: 0.3990
Epoch [690/2000], Loss: 0.3960
Epoch [700/2000], Loss: 0.3930
Epoch [710/2000], Loss: 0.3899
Epoch [720/2000], Loss: 0.3870
Epoch [730/2000], Loss: 0.3843
Epoch [740/2000], Loss: 0.3815
Epoch [750/2000], Loss: 0.3788
Epoch [760/2000], Loss: 0.3761
Epoch [770/2000], Loss: 0.3735
Epoch [780/2000], Loss: 0.3710
Epoch [790/2000], Loss: 0.3686
Epoch [800/2000], Loss: 0.3664
Epoch [810/2000], Loss: 0.3642
Epoch [820/2000], Loss: 0.3621
Epoch [830/2000], Loss: 0.3600
Epoch [840/2000], Loss: 0.3578
Epoch [850/2000], Loss: 0.3557
Epoch [860/2000], Loss: 0.3537
Epoch [870/2000], Loss: 0.3518
Epoch [880/2000], Loss: 0.3500
Epoch [890/2000], Loss: 0.3482
Epoch [900/2000], Loss: 0.3465
Epoch [910/2000], Loss: 0.3448
Epoch [920/2000], Loss: 0.3431
Epoch [930/2000], Loss: 0.3415
Epoch [940/2000], Loss: 0.3399
Epoch [950/2000], Loss: 0.3383
Epoch [960/2000], Loss: 0.3367
Epoch [970/2000], Loss: 0.3352
Epoch [980/2000], Loss: 0.3337
Epoch [990/2000], Loss: 0.3323
Epoch [1000/2000], Loss: 0.3309
Epoch [1010/2000], Loss: 0.3296
Epoch [1020/2000], Loss: 0.3282
Epoch [1030/2000], Loss: 0.3269
Epoch [1040/2000], Loss: 0.3257
Epoch [1050/2000], Loss: 0.3244
Epoch [1060/2000], Loss: 0.3232
Epoch [1070/2000], Loss: 0.3220
Epoch [1080/2000], Loss: 0.3208
Epoch [1090/2000], Loss: 0.3196
Epoch [1100/2000], Loss: 0.3184
Epoch [1110/2000], Loss: 0.3172
Epoch [1120/2000], Loss: 0.3160
Epoch [1130/2000], Loss: 0.3148
Epoch [1140/2000], Loss: 0.3137
Epoch [1150/2000], Loss: 0.3126
Epoch [1160/2000], Loss: 0.3115
Epoch [1170/2000], Loss: 0.3104
Epoch [1180/2000], Loss: 0.3092
Epoch [1190/2000], Loss: 0.3081
Epoch [1200/2000], Loss: 0.3070
Epoch [1210/2000], Loss: 0.3058
Epoch [1220/2000], Loss: 0.3045
Epoch [1230/2000], Loss: 0.3032
Epoch [1240/2000], Loss: 0.3019
Epoch [1250/2000], Loss: 0.3006
Epoch [1260/2000], Loss: 0.2993
Epoch [1270/2000], Loss: 0.2977
Epoch [1280/2000], Loss: 0.2961
Epoch [1290/2000], Loss: 0.2947
Epoch [1300/2000], Loss: 0.2935
Epoch [1310/2000], Loss: 0.2923
Epoch [1320/2000], Loss: 0.2912
Epoch [1330/2000], Loss: 0.2901
Epoch [1340/2000], Loss: 0.2891
Epoch [1350/2000], Loss: 0.2881
Epoch [1360/2000], Loss: 0.2871
Epoch [1370/2000], Loss: 0.2862
Epoch [1380/2000], Loss: 0.2853
Epoch [1390/2000], Loss: 0.2844
Epoch [1400/2000], Loss: 0.2834
Epoch [1410/2000], Loss: 0.2825
Epoch [1420/2000], Loss: 0.2817
Epoch [1430/2000], Loss: 0.2808
Epoch [1440/2000], Loss: 0.2799
Epoch [1450/2000], Loss: 0.2790
Epoch [1460/2000], Loss: 0.2781
Epoch [1470/2000], Loss: 0.2773
Epoch [1480/2000], Loss: 0.2764
Epoch [1490/2000], Loss: 0.2755
Epoch [1500/2000], Loss: 0.2746
Epoch [1510/2000], Loss: 0.2737
Epoch [1520/2000], Loss: 0.2727
Epoch [1530/2000], Loss: 0.2718
Epoch [1540/2000], Loss: 0.2709
Epoch [1550/2000], Loss: 0.2699
Epoch [1560/2000], Loss: 0.2688
Epoch [1570/2000], Loss: 0.2677
Epoch [1580/2000], Loss: 0.2667
Epoch [1590/2000], Loss: 0.2656
Epoch [1600/2000], Loss: 0.2646
Epoch [1610/2000], Loss: 0.2636
Epoch [1620/2000], Loss: 0.2627
Epoch [1630/2000], Loss: 0.2617
Epoch [1640/2000], Loss: 0.2607
Epoch [1650/2000], Loss: 0.2598
Epoch [1660/2000], Loss: 0.2589
Epoch [1670/2000], Loss: 0.2580
Epoch [1680/2000], Loss: 0.2572
Epoch [1690/2000], Loss: 0.2563
Epoch [1700/2000], Loss: 0.2554
Epoch [1710/2000], Loss: 0.2546
Epoch [1720/2000], Loss: 0.2537
Epoch [1730/2000], Loss: 0.2529
Epoch [1740/2000], Loss: 0.2520
Epoch [1750/2000], Loss: 0.2512
Epoch [1760/2000], Loss: 0.2504
Epoch [1770/2000], Loss: 0.2496
Epoch [1780/2000], Loss: 0.2488
Epoch [1790/2000], Loss: 0.2480
Epoch [1800/2000], Loss: 0.2473
Epoch [1810/2000], Loss: 0.2465
Epoch [1820/2000], Loss: 0.2458
Epoch [1830/2000], Loss: 0.2450
Epoch [1840/2000], Loss: 0.2443
Epoch [1850/2000], Loss: 0.2435
Epoch [1860/2000], Loss: 0.2427
Epoch [1870/2000], Loss: 0.2417
Epoch [1880/2000], Loss: 0.2407
Epoch [1890/2000], Loss: 0.2398
Epoch [1900/2000], Loss: 0.2390
Epoch [1910/2000], Loss: 0.2381
Epoch [1920/2000], Loss: 0.2373
Epoch [1930/2000], Loss: 0.2365
Epoch [1940/2000], Loss: 0.2358
Epoch [1950/2000], Loss: 0.2351
Epoch [1960/2000], Loss: 0.2344
Epoch [1970/2000], Loss: 0.2338
Epoch [1980/2000], Loss: 0.2331
Epoch [1990/2000], Loss: 0.2325
Epoch [2000/2000], Loss: 0.2318

In [73]:
with torch.no_grad():
    test_outputs = model(X_test)
    _, predicted = torch.max(test_outputs, 1)
    accuracy = (predicted == y_test).sum().item() / y_test.size(0)
    print(f"Test Accuracy: {accuracy * 100:.2f}%")

Test Accuracy: 71.48%